.music-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.music-library {
    text-align: center;
    padding: 20px;
}

.music-library h3 {
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #e78b00;
  font-size: 2em;
}

.songs-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.song-card {
  width: 150px;
  cursor: pointer;
  text-align: center;
}

.song-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.song-card:hover img {
  transform: scale(1.1);
}

.now-playing {
  margin-top: 20px;
  font-size: 18px;
}

.now-playing span {  
  font-weight: bold;
  color: #007bb5;
  text-transform: uppercase;
}
  